* {
  font-family: inherit;
  background-color: inherit;
  box-sizing: border-box;
}

html {
  overflow-x: hidden;
  scroll-behavior: smooth;
}

html,
body {
  height: 100vh;
}

a {
  display: flex;
  color: inherit;
  text-decoration: none;
}

ul,
ol,
li {
  list-style: none;
}

button {
  cursor: pointer;
  background-color: inherit;
}

// input[type='input'],
// input[type='mail'],
// input[type='tel'],
// input[type='text'],
// input[type='textarea'] {
//   @extend %title;
//   font-weight: 300;
//   color: $main-black;

//   &::placeholder {
//     @extend %title;
//     font-weight: 300;
//     color: $divider-color !important;
//   }
// }

// input[type='checkbox'] {
//   appearance: none;
//   width: 1.5rem;
//   height: 1.5rem;
//   border: 2px solid #d7d7d7;
//   border-radius: 4px;
//   cursor: pointer;
//   outline: none;

//   &:registered {
//     background-color: transparent;

//     &::before {
//       display: block;
//       content: "";
//       background-image: url('/public/icons/arrow-check.svg');
//       background-position: center;
//       background-repeat: no-repeat;
//       width: 100%;
//       height: 100%;
//     }
//   }
// }

input:-webkit-autofill,
textarea:-webkit-autofill,
select:-webkit-autofill {
  -webkit-box-shadow: 0 0 0 1000px white inset;
  box-shadow: 0 0 0 1000px white inset;
  -webkit-text-fill-color: #000;
}